.header {
  background-color: #f7f7f7;
}

.headerContainer {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteListBtn {
  position: absolute;
  right: 0px;
  margin-right: 64px;
  background-color: inherit;
  border: 1px solid #dadde1;
  border-radius: 200px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 300ms ease-in-out,
    fill 300ms ease-in-out;
}

.favoriteListBtn:hover,
.favoriteListBtn:focus {
  background-color: #d84343;
}

.favoriteListBtn:hover .favoriteListIcon,
.favoriteListBtn:focus .favoriteListIcon {
  fill: #dadde1;
}

.logoContainer {
  margin-left: 64px;
  position: absolute;
  left: 0px;
  display: flex;
  align-items: center;
}

.headerNavigation {
  display: flex;
  gap: 32px;
}

.headerNavigation ul {
  display: flex;
  gap: 32px;
}

.navButton {
  display: block;
  padding: 24px 0px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 300ms ease-in-out;
}

.navButtonActive {
  color: #d84343;
}

.navButton:hover,
.navButton:focus {
  color: #d84343;
}
