.vehicleTypeBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.vehicleTypeTitle {
  font-size: 20px;
  line-height: 1.2;
}

.vehicleTypeLine {
  border-bottom: 1px solid #dadde1;
}

.vehicleTypeList {
  display: flex;
  gap: 12px;
}

.vehicleTypeItem {
  cursor: pointer;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #dadde1;
  border-radius: 10px;
  width: 112px;
  height: 96px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: border-color 300ms ease-in-out;
}

.vehicleTypeItemActive {
  border-color: #e44848;
}
