.equipmentFiltersBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 360px;
}

.equipmentFiltersTitle {
  font-size: 20px;
  line-height: 1.2;
}

.equipmentFiltersLine {
  border-bottom: 1px solid #dadde1;
}

.equipmentFiltersList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
}

.equipmentFiltersItem {
  cursor: pointer;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dadde1;
  border-radius: 12px;
  width: 112px;
  height: 96px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition: border-color 300ms ease-in-out;
}

.equipmentFiltersItemActive {
  border-color: #e44848;
}
