.camperItemsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.camperItemsItem {
  display: flex;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: #f2f4f7;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  mix-blend-mode: multiply;
}
