.transmissionTypeBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.transmissionTypeTitle {
  font-size: 20px;
  line-height: 1.2;
}

.vehicleTypeLine {
  border-bottom: 1px solid #dadde1;
}

.transmissionTypeList {
  display: flex;
  gap: 12px;
}

.transmissionTypeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #dadde1;
  width: 112px;
  height: 96px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: border-color 300ms ease-in-out;
}

.transmissionTypeItemActive {
  border-color: #e44848;
}
