.camperByIdSection {
  padding: 48px 64px 80px;
  margin: 0 auto;
  width: 1440px;
}

.camperByIdFeaturesBookingBox {
  display: flex;
  gap: 40px;
}

.camperIdToggleBox {
  margin-top: 60px;
  margin-bottom: 44px;
}

.camperIdToggle {
  position: relative;
  display: flex;
  gap: 40px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dadde1;
}

.camperToggleBtn {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  background-color: inherit;
  padding-bottom: 12px;
}

.camperToggleBtn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14.5px;
  width: 100%;
  height: 4px;
  background-color: #e44848;
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}

.tooglePage::after {
  opacity: 1;
  transform: scaleX(1);
}
